html {
  font-family: 'Noto Serif Display';
}

.flight-search {
  margin: 0.3rem 5px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;

}

.flight-s-button {
  color: black;
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.03 rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 13.5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
  background-image: linear-gradient(70deg, #61876E, #A6BB8D 50%, #FFD4B2);
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  padding: 4rem;
  border: 1px solid white;
  border-radius: 10px;
}

.reg-form,
.log-form {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: left;
  padding: 0.25rem 0;
  color: white;
}

.button {
  color: black;
  background-color: white;
  margin: 0.5rem 0;
  padding: 0.03 rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 13.5px;
}

.switch {
  background: none;
  text-decoration: underline;
  border: none;
}

.reg-form__input {
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  font-size: 13.5px;
}


.arrow {
  color: black;
  background: none;
  width: 20px;
  height: 20px;
  border: solid black;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 3px;
}

.btn-next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg)
}

.btn-prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg)
}

.home-flight-finder {
  text-align: center;
}

.logout-btn {
  /* color: white;
  background-color: white;
  margin-right: 0.3rem;
  margin-top: 1rem;
  padding: 0.03 rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px; */

  line-height: 60px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0;



  background: none;
  border: none;
}

.logout-btn:hover {
  color: rgb(204, 194, 194);
}

.a:hover {
  text-decoration: none;
  color: rgb(204, 194, 194);
}

.flight-routes {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid white;
  border-radius: 4px;

}

.flight-routes p {
  text-align: left;
  font-size: 1rem;
  margin: 3px;
}

.flight-routes p:hover {
  text-decoration: none;
  color: rgb(204, 194, 194);
}

.weather-input {
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  font-size: 13.5px;
}

.mp-results {
  /* display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center; */

  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.mp-results p {
  color: white;
  text-align: center;
  width: 100%;

}

.mp-results p:hover {
  text-decoration: none;
  color: rgb(204, 194, 194);
}

.mp-subresults {
  text-align: left;
  width: 100%;
}

.weather-details {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  width: 50%;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.aircraft_details {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  width: 50%;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}

.flight-status {
  font-size: 4rem;
}

.p-text {
  font-size: 1.25rem;
}

.check-weather {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.weather-header {
  margin-bottom: 4rem;
}


.result {
  box-sizing: border-box;
  margin: 2rem;
  padding: 4rem;
  width: 75%;
  margin: auto;
  border: 1px solid white;
  border-radius: 10px;
}

.result h3 {
  color: white;
  margin-bottom: 0.6rem;

}

.emission-header {
  word-break: break-all;
}

.flightmap_map {
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 10px 3px rgb(236, 229, 229), -3px -3px 10px 3px rgb(238, 232, 232);

}

.flightmap_map:hover {
  box-shadow: 4px 4px 10px 4px white, -4px -4px 10px 4px white;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;}

.link{
  display: flex;
  flex-direction: row;
}

.biggerLink{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left:40%;
  margin-right:40%;

}