@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Noto+Serif+Display:wght@200;400;700&display=swap');

html {
  font-family: 'Noto Serif Display';
}

body {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  display: flex;
}

.navigation-bar {
  margin: 27px auto 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: left;
  width: 100%;
  background-color: darkolivegreen;
  border-radius: 8px;
  font-size: 0;
  margin-top: 0;
}

.navigation-bar .a {
  line-height: 60px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.navigation-bar .b {
  line-height: 60px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

/* 
.navigation-bar .animation_start-home {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
} */

/* a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
} */

/* a:nth-child(3) {
  width: 100px;
} */
/* 
a:nth-child(4) {
  width: 160px;
}

a:nth-child(5) {
  width: 120px;
} */

.a:hover {
  text-decoration: none;
  color: white;
}

/* .a {
  width: 100px;
} */

/* .navigation-bar .start-home,
a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
} */

/* .navigation-bar .start-about,
a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}

.navigation-bar .start-blog,
a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}

.navigation-bar .start-portefolio,
a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
  background-color: #9b59b6;
}

.navigation-bar .start-contact,
a:nth-child(5):hover~.animation {
  width: 120px;
  left: 470px;
  background-color: #e67e22;
} */
/* 
.login {
  align-items: rignt;
} */

/* .logout-btn {
  align-items: left;

} */